body{
margin:0;
font-family:Arial;
background:#000814;
color:white;
}

header{
background:#000;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
display:flex;
align-items:center;
gap:10px;

}

.logo img{
width:80px;
height:80px;
border-radius:50%;

}

nav a{
color:#00aaff;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:60px;
background:linear-gradient(#001d3d,#000);
line-height: 1.5;
}

.btn{
background:#0077ff;
padding:12px 20px;
display:inline-block;
margin-top:20px;
color:white;
text-decoration:none;
border-radius:6px;
}

.catalogo{
display:flex;
gap:20px;
padding:20px;

}

.card{
background:#001d3d;
padding:20px;
border-radius:8px;
border:1px solid #0077ff;

}
.card img{
width: 250px;
height: 250px;
}
.form{
display:flex;
flex-direction:column;
width:300px;
margin:40px auto;
}

input, textarea{
margin:10px 0;
padding:10px;
background:#000;
border:1px solid #0077ff;
color:white;
}

button{
background:#0077ff;
color:white;
padding:10px;
border:none;
}



/* Espaçamento geral das seções */
section {
  padding: 40px 20px;
  text-align: center;
}

/* Títulos */
h2 {
  margin-bottom: 20px;
}

/* Lista de diferenciais */
.diferenciais ul {
  list-style: none;
  padding: 0;
}

.diferenciais li {
  margin: 10px 0;
  font-size: 18px;
}

/* Antes e depois (imagens lado a lado) */
.antes-depois div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.antes-depois img {
  width: 200px;
  border-radius: 10px;
}

/* Botão CTA */
.cta a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px;
  background: #000000;
  margin-top: 30px;
}
